@font-face {
    font-family: 'Caslon Titling MT Std';
    src: url('CaslonTitlingMTStd.woff2') format('woff2'),
        url('CaslonTitlingMTStd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

